.switch {
  --circle-dim: 1.4em;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5aeae;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
}

.slider-card {
  position: absolute;
  content: "";
  height: var(--circle-dim);
  width: var(--circle-dim);
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  -webkit-transition: .4s;
  transition: .4s;
  pointer-events: none;
}

.slider-card-face {
  position: absolute;
  inset: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  border-radius: 50%;
  -webkit-transition: .4s transform;
  transition: .4s transform;
}

.slider-card-front {
  background-color: #DC3535;
}

.slider-card-back {
  background-color: #379237;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

input:checked ~ .slider-card .slider-card-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

input:checked ~ .slider-card .slider-card-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

input:checked ~ .slider-card {
  -webkit-transform: translateX(1.5em);
      -ms-transform: translateX(1.5em);
          transform: translateX(1.5em);
}

input:checked ~ .slider {
  background-color: #9ed99c;
}